<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header class="pizza_heading">
    		<h1>Welcome to Varney's Pizza Place</h1>
   			<p>Thank You for Your Order</p>
    	</header>
		<div class="slideshow-container">
			<img src="/images/stuff1.jpeg" style="width:100%">
			<div class="text">
				<h1><%=name%></h1>
				<h1>Order Number</h1>
				<h1><%=order_number%></h1>
					<%if delivery == 0%>
						<h1>Pick-up</h1>
					<%else%>
						<h1>Delivery</h1>
					<%end%>
				<h1>Number of Pizzas <%=more_pizza%></h1>
				<h1>Order Total $<%=total_cost%></h1>
			</div>
		</div>
		<script>
			(function (global) { 

			    if(typeof (global) === "undefined") {
			        throw new Error("window is undefined");
			    }

			    var _hash = "!";
			    var noBackPlease = function () {
			        global.location.href += "#";

			        global.setTimeout(function () {
			            global.location.href += "!";
			        }, 50);
			    };

			    global.onhashchange = function () {
			        if (global.location.hash !== _hash) {
			            global.location.hash = _hash;
			        }
			    };

			    global.onload = function () {            
			        noBackPlease();

			        document.body.onkeydown = function (e) {
			            var elm = e.target.nodeName.toLowerCase();
			            if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
			                e.preventDefault();
			            }
			            e.stopPropagation();
			        };          
			    }

			})(window);
		</script>
	</body>
</html>