<html>
<body>
<form method="post" action="first_page">
<h1>Choose a size:</h1>
<input type="radio" name="size" value="small"> Small<br>
<input type="radio" name="size" value="medium"> Medium<br>
<input type="radio" name="size" value="large" checked> Large<br>
<h1>Extra Toppings</h1>
<br>
<h3>Vegetables</h3>
<input type="radio" name="veg1" value="mushrooms"> Mushrooms<br>
<input type="radio" name="veg2" value="banana_peppers"> Banana Peppers<br>
<input type="radio" name="veg3" value="onions"> Onions<br>
<input type="radio" name="veg4" value="tomatoes"> Tomatoes<br>
<h3>Meats</h3>
<input type="radio" name="meat1" value="pepperoni"> Pepperoni<br>
<input type="radio" name="meat2" value="sausage"> Sausage<br>
<input type="radio" name="meat3" value="ham"> Ham<br>
<input type="radio" name="meat4" value="bacon"> Bacon<br>
<h3>Extra Cheese</h3>
<input type="radio" name="cheese" value=1> Add<br>
<input type="submit" value="Submit Order" onclick>   
</form>
</body>
</html>