body, html {
  background: url("/images/pizza_shop2.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 700px;
}

.pizza_heading {
  width: 100%;
  margin-bottom: 5px;
  border: 5px solid black;
  font-family: arial, sans-serif;
  text-align: center;
  background-color: lightgrey;
}

.slideshow-container {
  max-height: 500px;
  max-width: 650px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  font-family: arial, sans-serif;
  background-color: black;
  opacity: .8;
  transition: 0.3s;
  word-wrap: break-word;
  color: #f2f2f2;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  height: 100%;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#pizza_order {
  background-color: lightgrey;
  color: black;
  text-align: center;
}

#selection_box {
  margin: auto;
  width: 55%;
  text-align: center;
}

.submit_button {
  background-color: black;
  border: 2px solid darkgrey;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50%;
}

.submit_button:hover {
  opacity: 1;
  background-color: lightgrey;
  color: black;
  border: 2px solid black;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[id="delivery"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[id="delivery"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}

.float_left {
  float: left;
}  

.float_right {
  float: right;
}

.confirm_delivery{
  float: right;
  background-color: lightgrey;
  width: 40%;
  border: 5px solid black;
  padding: 10x;
  margin: auto;
  text-align: center;
  height: 600px;
}

* {
  box-sizing: border-box;
}

.column {
  border-left: 5px solid black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: lightgrey;
  float: left;
  width: 20%;
  padding: 10px;
  text-align: center;
  height: 600px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.submit_button2 {
  float: left;
  background-color: black;
  border: 2px solid lightgrey;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50%;
}

.submit_button2:hover {
  opacity: 1;
  background-color: lightgrey;
  color: black;
  border: 2px solid black;
}

.button_box {
  width: 234px;
  height: 48px;
  margin: auto;
}

#required_fields {
  color: red;
}